body {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #666666;
}

a {
  font-weight: 500;
  color: #d8895b;
  text-decoration: inherit;
  padding: 0 0.5rem;
}

a:hover {
  color: #666666;
}

code {
  color: #cccccc;
}

h4 {
  margin-bottom: 1.4em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: #666666 1px solid;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
